#app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 125vh;
}

.prev-div{
  height: 45vh;
  width: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
  border-radius: 14px;

}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 15vh;
  width: 100vw;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#add-form{
  display: flex;
  flex-direction: column;
  height: 35vh;
  border: 1px solid black;
  padding: 20px;
  background-color: #f0f4f8;
  border-radius: 14px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
}

.input{
  min-width: 350px;
}

.form-buttons{
  max-width: 100px;
  cursor: pointer;
}

.button-div{
  display: flex;
  gap: 20px;

}

.nav-buttons{
  cursor: pointer;
}

#saved-memes-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* height: 100vh; */
  gap: 50px;
  /* position: relative;
  top: 80px; */
}

#meme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  width: 500px;
  border: 3px solid black;
  gap: 10px;
}

#add-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}